body {
    background-color: #8CBF3F;
}

.title h2 {
    height: 60px;
    padding: 15px;
    margin-bottom: .5em;
    font-family: 'Henny Penny';
    text-align: center;
    background-color: #F2CC0F;

}

.gallery {
    display: flex;
    flex-wrap: wrap;
    
}

.location-image {
    flex: 15%;
    max-width: 25%;
    margin: 15px;

}

.location-image img {
    width: 300px;
    height: 300px;
    padding: 10px;
    object-fit: cover;

}

.location-image:hover img {
    transform: scale(1.2, 1.2);
    opacity: 0.7;
}

.grid-container2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 4fr));
    grid-gap: 2em;
    background-color: #9453A6;
    margin-top: 20px;
    padding: 10px;
}

.location-video {
    overflow: hidden;


}

.location-video:hover iframe {
    transform: scale(1.2, 1.2);

}



footer {
    text-align: center;
    width: 100%;
    height: 10vh;
    background-color: #0D0D0D;
    color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 584px) {


    .location-image,
    .gallery, .location-video,
    footer {

        padding: 0;
        margin-right: 40px;
        text-align: center;
        flex: 100%;
        flex-direction: column;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }


}



@media screen and (max-width: 696px) {

    .location-image {
        flex: 50%;
        max-width: 100%;
    }

    footer {
        width: 100%;
        height: 40px;
    }


    footer {
        width: 100%;
        height: 40px;
    }
}


@media screen and (max-width: 800px) {


    .location-image {

        flex: 100%;
        flex-direction: column;
        max-width: 50%;
        justify-content: center;
        align-items: center;

    }

    footer {
        width: 100%;
        height: 50px;
    }
}